body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style: none;
}
.list_item{
  width: 400px;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  margin: 5px 5px;
}
.list {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.detail_beer {
  text-align: center;
}
.beer_img {
  max-width: 300px;
  max-height: 300px;
}